<div class="container-fluid bg-white footer">
  <div class="container py-5">
    <div class="row g-5">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'brand_info' -%}
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
              <a href="{{ shop.url }}" class="d-inline-block mb-3">
                <h1 class="text-primary">{{ block.settings.heading }}</h1>
              </a>
              <p class="mb-0">
                {{ block.settings.tagline }}
              </p>
            </div>
          {%- when 'contact_info' -%}
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
              {% if block.settings.section_title != blank %}
                <h5 class="mb-4">{{ block.settings.section_title }}</h5>
              {% endif %}
              {% if block.settings.address != blank %}
                <p><i class="fa fa-map-marker-alt me-3"></i>{{ block.settings.address }}</p>
              {% endif %}
              {% if block.settings.phone != blank %}
                <p><i class="fa fa-phone-alt me-3"></i>{{ block.settings.phone }}</p>
              {% endif %}
              {% if block.settings.email != blank %}
                <p><i class="fa fa-envelope me-3"></i>{{ block.settings.email }}</p>
              {% endif %}
              <div class="d-flex pt-2">
                {% if block.settings.twitter_link != blank %}
                  <a class="btn btn-square btn-outline-primary me-1" href="{{ block.settings.twitter_link }}"
                    ><i class="fab fa-twitter"></i
                  ></a>
                {% endif %}
                {% if block.settings.facebook_link != blank %}
                  <a class="btn btn-square btn-outline-primary me-1" href="{{ block.settings.facebook_link }}"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                {% endif %}
                {% if block.settings.instagram_link != blank %}
                  <a class="btn btn-square btn-outline-primary me-1" href="{{ block.settings.instagram_link }}"
                    ><i class="fab fa-instagram"></i
                  ></a>
                {% endif %}
                {% if block.settings.linkedin_link != blank %}
                  <a class="btn btn-square btn-outline-primary me-1" href="{{ block.settings.linkedin_link }}"
                    ><i
                      class="fab fa-linkedin-in"
                    ></i
                  ></a>
                {% endif %}
              </div>
            </div>
          {%- when 'our_product' -%}
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
              {% if block.settings.section_title != blank %}
                <h5 class="mb-4">{{ block.settings.section_title }}</h5>
              {% endif %}
              {% if block.settings.product_list != blank %}
                {% for product in block.settings.product_list %}
                  <a class="btn btn-link" href="{{ product.url }}">{{ product.title }}</a>
                {% endfor %}
              {% endif %}
            </div>
          {%- when 'populat_link' -%}
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
              {% if block.settings.section_title != blank %}
                <h5 class="mb-4">{{ block.settings.section_title }}</h5>
              {% endif %}
              {% if block.settings.popular_link != blank %}
                {% assign link_list = block.settings.popular_link %}
                {% if link_list %}
                  {% for link in link_list.links %}
                    <a class="btn btn-link" href="{{ link.url }}">{{ link.title }}</a>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>

  <div class="container wow fadeIn" data-wow-delay="0.1s">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

          <!--
            /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
          -->
          Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="#">Home</a>
            <a href="#">Cookies</a>
            <a href="#">Help</a>
            <a href="#">FAQs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer Section",
  "blocks": [
    {
      "type": "brand_info",
      "name": "Brand Info",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Custom eshop",
          "label": "Site title"
        },
        {
          "type": "inline_richtext",
          "id": "tagline",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus, vitae porttitor purus nisl vitae purus.",
          "label": "Tagline",
          "info": "Tagline"
        }
      ]
    },
    {
      "type": "contact_info",
      "name": "Contact Info",
      "settings": [
        {
          "type": "text",
          "id": "section_title",
          "default": "Get In Touch",
          "label": "Contact info"
        },
        {
          "type": "inline_richtext",
          "id": "address",
          "default": "123 Street, New York, USA",
          "label": "Address",
          "info": "Contact address"
        },
        {
          "type": "text",
          "id": "phone",
          "default": "+012 345 67890",
          "label": "Telephone",
          "info": "Telephone number"
        },
        {
          "type": "text",
          "id": "twitter_link",
          "label": "Twitter",
          "info": "Twitter url"
        },
        {
          "type": "text",
          "id": "facebook_link",
          "label": "Facebook",
          "info": "Facebook url"
        },
        {
          "type": "text",
          "id": "instagram_link",
          "label": "Instagram",
          "info": "Instagram url"
        },
        {
          "type": "text",
          "id": "linkedin_link",
          "label": "LinkedIn",
          "info": "LinkedIn url"
        }
      ]
    },
    {
      "type": "our_product",
      "name": "Our Product",
      "settings": [
        {
          "type": "text",
          "id": "section_title",
          "default": "Our products",
          "label": "Our products"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products",
          "limit": 5
        }
      ]
    },
    {
      "type": "populat_link",
      "name": "Popular Link",
      "settings": [
        {
          "type": "text",
          "id": "section_title",
          "default": "Popular Link",
          "label": "Popular Link"
        },
        {
          "type": "link_list",
          "id": "popular_link",
          "label": "Popular links"
        }
      ]
    }
  ]
}
{% endschema %}
