<div class="container-fluid sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a href="{{ shop.url }}" class="navbar-brand">
        <h2 class="text-success">{{ shop.name }}</h2>
      </a>
      <button
        type="button"
        class="navbar-toggler ms-auto me-0"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          {% if linklists['main-menu'].links != blank %}
            {% for link in linklists['main-menu'].links -%}
              {% if link.links != blank %}
                <div class="nav-item dropdown">
                  <a
                    href="{{ link.url }}"
                    class="nav-link dropdown-toggle {% if link.current %} active {% endif %}"
                    data-bs-toggle="dropdown"
                  >
                    {{- link.title -}}
                  </a>
                  <div class="dropdown-menu bg-light mt-2">
                    {% for childlink in link.links %}
                      <a href="{{ childlink.url }}" class="dropdown-item">
                        {{- childlink.title -}}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <a href="{{ link.url }}" class="nav-item nav-link {% if link.current %} active {% endif %}">
                  {{- link.title -}}
                </a>
              {% endif %}
            {%- endfor %}
          {% endif %}
        </div>
        <a href="" class="btn btn-dark py-2 px-4 d-none d-lg-inline-block">Shop Now</a>
      </div>
    </nav>
  </div>
</div>
